.card{
    border: 2px black solid;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}
.heading{
    font-size: 1.5rem;
    color: rgb(68, 127, 163);
}
.languageUsed {
    font-size:  1.1em;
    color: #a8125d
}